# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

asm/*
!examplesAndDocs/JustAnotherSpawner/*
!examplesAndDocs/Corvias-JAS-Configs-v.3/JustAnotherSpawner/*
examplesAndDocs/*
crash-reports/*
logs/*
journeyMap/*
!mods/ruins.txt
!*.tml
*_log.txt
screenshots/*
resourcepacks/*
saves/*
unused_mods/*
*.log
*.png
.project
.classpath
*.jar
*.errored
*.zip
1213309934
