# Configuration file

Adamantine {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x8ab68e
    D:energy=1.0
    S:extra=Adamantine
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Adamantite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x8ab68e
    D:energy=1.0
    S:extra=Adamantite
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Adamantium {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x8ab68e
    D:energy=1.0
    S:extra=Adamantium
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Argonite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x26104a
    D:energy=1.0
    S:extra=Argonite
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Cobalt {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x4f5964
    D:energy=3.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Copper {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xcaaa8a
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Custom {
    # Add ore names that will be turned into Mekanism gases (First letter must be capitalised). Example: Iron,Gold,Titanium
    S:gases=

    # Add prefixes separated by commas.
    # Textures will be aobd:prefix and aobd:prefix_overlay.
    # Example: dust,cluster
    S:items=
}


Fyrite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xd23114
    D:energy=1.0
    S:extra=Fyrite
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Gestankenzinn {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x917968
    D:energy=1.0
    S:extra=Gestankenzinn
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Gold {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xe6dc98
    D:energy=1.0
    S:extra=Gold
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


HaditeSteel {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x827a66
    D:energy=1.0
    S:extra=HaditeSteel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Illumenite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xfde863
    D:energy=1.0
    S:extra=Illumenite
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Iron {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xc9c9c9
    D:energy=1.0
    S:extra=Nickel
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Malachite {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x19b962
    D:energy=1.0
    S:extra=Malachite
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Mithril {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x8aadcf
    D:energy=1.0
    S:extra=Mithril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Mythril {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x8aadcf
    D:energy=1.0
    S:extra=Mythril
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Recipes {
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Silver {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xc5cbca
    D:energy=1.0
    S:extra=Lead
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Tin {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0xd1d1d1
    D:energy=1.0
    S:extra=Iron
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


Tungsten {
    B:"Disable All"=false
    B:EnderIO=true
    B:HydCraft=true
    B:IC2=true
    B:Mekanism=true
    B:NetherOres=true
    B:Railcraft=true
    B:Steamcraft=true
    B:TConstruct=true
    B:Thaumcraft=true
    B:ThermalExpansion=true
    B:UltraTech=true
    B:appliedenergistics2=true
    B:bcadditions=true
    S:colour=0x212729
    D:energy=2.0
    S:extra=Tungsten
    B:factorization=true
    B:ganysnether=true
    B:modularsystems=true
    B:randomadditions=true
    B:simpleoregrinder=true
}


