# Configuration file

general {
    # Enables fusion furnace recycling recipes for Hadite Coal, nether utility ore [default: false]
    B:"Enable Hadite Coal, nether utility ore recycling recipes?"=false
    B:"Enable Hadite Steel & Gestankenzinn item recycling recipes: false or true?"=true
    B:"Equip Mobs with Hadite gear, true or false"=false
    B:"Hadite Block emits flames"=true

    # How long hadite coal burns as furnace fuel (Coal = 1600) [range: 0 ~ 999999, default: 13000]
    I:"Hadite Coal Burn Time"=13000
    B:"Hadite Ore spits fire"=true
}


"hadite coal maximum spawn height" {
    # Controls the max spawn height of Hadite Coal. [range: 0 ~ 255, default: 255]
    I:"Hadite Coal Worldgen"=255
}


"hadite coal minimum spawn height" {
    # Controls the min spawn height of Hadite Coal. [range: 0 ~ 255, default: 0]
    I:"Hadite Coal Worldgen"=0
}


"hadite coal spawn rate" {
    # Controls the spawn rate of Hadite Coal. [range: 0 ~ 5000, default: 5]
    I:"Hadite Coal Worldgen"=5
}


"hadite coal vein size" {
    # Controls the max vein size of Hadite Coal. [range: 17 ~ 5000, default: 0]
    I:"Hadite Coal Worldgen"=0
}


"setting toggles" {
    # Enables configuration of Armor stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Armor Stat Modification?"=false

    # Enables configuration of Block stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Block Stat Modification?"=false

    # Enables Custom World Generation. Allows custom rules to be set. Relaunch the game to generate the new settings. [default: false]
    B:"(Advanced) Enable Custom Generation?"=false

    # Enables configuration of Tool stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Tool Stat Modification?"=false
}


"spawning parameters" {
    I:"Hadite Coal Spawn Height"=256
    I:"Hadite Coal Spawn Rate"=5
    I:"Hadite Coal Vein Size"=17
}


