# Configuration file

general {
    # Enables fusion furnace recycling recipes for Tungsten & Tungsten alloys [default: false]
    B:"Enable Tungsten & Tungsten alloys recycling recipes?"=false
    B:"Enable Tungsten & alloy recycling recipes: false or true?"=true
    B:"Equip mobs with Tungsten gear, true or false"=false
}


"higher world gen" {
    B:"Spawn Tungsten in higher dimensions? (Advanced)"=false
}


"setting toggles" {
    # Enables configuration of Armor stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Armor Stat Modification?"=false

    # Enables configuration of Block stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Block Stat Modification?"=false

    # Enables Custom World Generation. Allows custom rules to be set. Relaunch the game to generate the new settings. [default: false]
    B:"(Advanced) Enable Custom Generation?"=false

    # Enables configuration of Tool stats. Relaunch game to generate the new settings. [default: false]
    B:"(Advanced) Enable Tool Stat Modification?"=false
}


"tungsten maximum spawn height" {
    # Controls the max spawn height of Tungsten Ore. [range: 0 ~ 255, default: 18]
    I:"Tungsten Ore Worldgen"=18
}


"tungsten minimum spawn height" {
    # Controls the min spawn height of Tungsten Ore. [range: 0 ~ 255, default: 0]
    I:"Tungsten Ore Worldgen"=0
}


"tungsten ore worldgen" {
    I:"Tungsten Maximum Spawn Height"=18
    I:"Tungsten Minimum Spawn Height"=0
    I:"Tungsten Spawn Rate"=5
    I:"Tungsten Vein Size"=5
}


"tungsten spawn rate" {
    # Controls the spawn rate of Tungsten Ore. [range: 0 ~ 5000, default: 5]
    I:"Tungsten Ore Worldgen"=5
}


"tungsten vein size" {
    # Controls the max vein size of Tungsten Ore. [range: 0 ~ 5000, default: 5]
    I:"Tungsten Ore Worldgen"=5
}


